<%
  fields = search_fields
  column_count = 3
  group_size = (fields.count / column_count).ceil
%>
<h2>Search Filters</h2>
<%= form_tag(cases_path, method: :get, class: 'form-horizontal') do %>
  <% fields.in_groups_of(group_size).each do |group| %>
    <div class="col-md-<%= 12 / column_count %>">
      <% group.compact.each do |field| %>
        <div class="">
          <div class="form-group">
            <label class="col-md-4 control-label" for="<%= field[:attr] %>">
              <%= field[:title] %>
              <%= "<span class=\"text-muted\">#{field[:sub_title]}</span>".html_safe if field[:sub_title] %>
            </label>
            <div class="col-md-8">
              <%= field[:html] %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <span class="icon-input-btn">
        <%= submit_tag 'Search', "data-disable-with" => "Searching...", class: 'btn btn-primary' %>
        <span aria-hidden="true" class="glyphicon glyphicon-search white"></span>
      </span>
    </div>
  </div>
<% end %>
