<h1>Search Filters</h1>
<%= form_tag(cases_path, method: :get) do %>
  <table class="search">
    <tr>
      <th>Case Number</th>
      <td><%= text_field_tag 'filters[case_number]' %></td>
    </tr>
    <tr>
      <th>Entry Date (start) <span class="no-bold">(YYYY-MM-DD)</span></th>
      <td><%= text_field_tag 'filters[entry_date_range][start_date]' %></td>
    </tr>
    <tr>
      <th>Entry Date (end) <span class="no-bold">(YYYY-MM-DD)</span></th>
      <td><%= text_field_tag 'filters[entry_date_range][end_date]' %></td>
    </tr>
  </table>
  <%= submit_tag 'Search' %>
<% end %>
<hr />
<h1>Listing Cases</h1>
<table>
  <thead>
    <th>Case Number</th>
    <th>Entry Date</th>
    <th>Case Notes</th>
  </thead>
  <tbody>
    <% @cases.each do |loe_case| %>
      <tr data-id="<%= loe_case.id -%>">
        <td><%= link_to loe_case.case_number, case_path(loe_case) %></td>
        <td><%= loe_case.entry_date.try :localtime %></td>
        <td><%= loe_case.case_notes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div><%= paginate @cases %></div>
