<%= render partial: 'filters' %>
<hr />
<h2>Listing Cases <small>(<%= pluralize(@cases.total_count, 'total record') %>)</small></h2>
<div class="table-responsive">
  <table class="table table-striped table-condensed bg-white">
    <thead>
      <th>
        <%= link_to({sort: :case_number, sort_dir: sort_dir(:case_number), filters: params[:filters]}) do %>
          Case <span class="no-wrap">Number <span class="glyphicon glyphicon-sort-by-attributes<%= sort_dir(:case_number) == 'ASC' ? '-alt' : nil %>" aria-hidden="true"></span></span>
        <% end %>
      </th>
      <th>
        <%= link_to({sort: :entry_date, sort_dir: sort_dir(:entry_date), filters: params[:filters]}) do %>
          Entry Date <span class="glyphicon glyphicon-sort-by-attributes<%= sort_dir(:entry_date) == 'ASC' ? '-alt' : nil %>" aria-hidden="true"></span>
        <% end %>
      </th>
      <th>Case Notes</th>
    </thead>
    <tbody>
      <% @cases.each do |loe_case| %>
        <tr data-id="<%= loe_case.id -%>">
          <td><%= link_to loe_case.case_number, case_path(loe_case.case_number) %></td>
          <td class="no-wrap"><%= loe_case.entry_date.try :localtime %></td>
          <td><%= loe_case.case_notes %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="text-center"><%= paginate @cases %></div>
