<h1>
  Case Detail
  <small>Case #<%= @case.case_number %></small>
</h1>
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#summary" aria-controls="summary" role="tab">Summary</a>
    </li>
    <li role="presentation">
      <a href="#inspections" aria-controls="inspections" role="tab">Inspections</a>
    </li>
    <li role="presentation">
      <a href="#violations" aria-controls="violations" role="tab">Violations</a>
    </li>
    <li role="presentation">
      <a href="#details" aria-controls="details" role="tab">Details</a>
    </li>
  </ul>
  <div class="tab-content panel panel-default border-top-none">
    <div role="tabpanel" class="tab-pane panel-body border-top-none active" id="summary">
      <div class="row">
        <div class="col-md-6">
          <div>
            <% case_items(@case).each do |item| %>
              <dl class="dl-horizontal">
                <dt><%= item[:label] %></dt>
                <dd><%= item[:value] %></dd>
              </dl>
            <% end %>
          </div>
          <h3>Case Notes</h3>
          <pre style="white-space: pre-wrap;"><%= @case.case_notes %></pre>
          <div>
            <h3>Owner Information</h3>
            <address>
              <strong><%= @case.owner_name %></strong><br />
              <% case_address_items(@case, owner: true).each do |item| %>
                <%= item %><br />
              <% end %>
            </address>
          </div>
        </div>
        <div class="col-md-6">
          <address>
            <strong></strong>
            <% case_address_items(@case).each do |item| %>
              <%= item %><br />
            <% end %>
          </address>
          <div class="google-maps-iframe-wrapper" data-google-maps-iframe-wrapper="true" data-google-maps-query="<%= @case.google_maps_query %>">
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane panel-body border-top-none" id="inspections">
      <% if @case.inspections.size == 0 %>
        There are no inspections for this case.
      <% else %>
        <ul>
          <% @case.inspections.each do |inspection| %>
            <li>
              <div class="well">
                <pre><%= inspection.attributes.to_yaml %></pre>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane panel-body border-top-none" id="violations">
      <% if @case.violations.size == 0 %>
        There are no violations for this case.
      <% else %>
        <ul>
          <% @case.violations.each do |violation| %>
            <li>
              <div class="well">
                <pre><%= violation.attributes.to_yaml %></pre>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane panel-body border-top-none" id="details">
      <pre><%= @case.attributes.to_yaml %></pre>
    </div>
  </div>
</div>
<%= link_to 'Browse Cases', cases_path %>
