<h1>Case Detail</h1>
<pre><%= @case.attributes.to_yaml %></pre>
<%= link_to 'Case Inspections', inspections_path(filters: {'case': @case.case_number}) %><br />
<%= link_to 'Case Violations', violations_path(filters: {'case': @case.case_number}) %><br />
<%= link_to 'Case Histories', case_histories_path(filters: {'case': @case.case_number}) %><br />
<%= link_to 'Browse Cases', cases_path %>
