<h1>Listing Violations</h1>
<table>
  <thead>
    <th>Case Number</th>
    <th>Issued Date</th>
    <th>Description</th>
  </thead>
  <tbody>
    <% @violations.each do |violation| %>
      <tr data-id="<%= violation.id -%>">
        <td><%= link_to violation.case_number, violation_path(violation) %></td>
        <td><%= violation.issued_date %></td>
        <td><%= violation.violation_description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div><%= paginate @violations %></div>
