<h1>Listing Inspections</h1>
<table>
  <thead>
    <th>Case Number</th>
    <th>Inspection Date</th>
    <th>Description</th>
  </thead>
  <tbody>
    <% @inspections.each do |inspection| %>
      <tr data-id="<%= inspection.id -%>">
        <td><%= link_to inspection.case_number, inspection_path(inspection) %></td>
        <td><%= inspection.inspection_date %></td>
        <td><%= inspection.inspection_type_desc %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div><%= paginate @inspections %></div>
