<h1>Listing Case Histories</h1>
<table>
  <thead>
    <th>Case Number</th>
    <th>Date</th>
    <th>Description</th>
  </thead>
  <tbody>
    <% @case_histories.compact.each do |case_history| %>
      <tr data-case-number="<%= case_history.case_number -%>">
        <td><%= link_to case_history.case_number, {action: :show, id: case_history.case_number} %></td>
        <td><%= Date.parse(case_history.date) %></td>
        <td><%= case_history.action %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div><%= paginate @case_histories %></div>
